.container {
	max-width: 960px;
	margin: 0 auto;
    display: flex;
    flex-direction: column;   
    gap: 20px;
}

.main-form{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.lookup{
    max-height: 20px;
}